.dialogContent[data-state="open"] {
  animation: slideFadeInFromRight 0.25s ease-out;
}
.dialogContent[data-state="closed"] {
  animation: slideFadeOutToRight 0.15s ease-in;
}
.overlayAnimate[data-state="open"] {
  animation: fadeIn 0.2s ease-out;
}
.overlayAnimate[data-state="closed"] {
  animation: fadeOut 0.1s ease-in;
}
.gearSpin {
  animation: spin 0.75s ease-out;
}

.moveUp[data-state="active"] {
  animation: tabSlideFromTop 150ms linear backwards;
}
.moveUp[data-state="inactive"] {
  top: 0;
  position: absolute;
  height: 100%;
  width: calc(100% - 2rem);
  /* padding-inline: 1rem; */
  animation: tabSlideToTop 150ms linear forwards;
}
.moveDown[data-state="active"] {
  animation: tabSlideFromBottom 150ms linear backwards;
}
.moveDown[data-state="inactive"] {
  bottom: 0;
  position: absolute;
  height: 100%;
  width: calc(100% - 2rem);
  /* padding-inline: 1rem; */
  animation: tabSlideToBottom 150ms linear forwards;
}
